<!DOCTYPE html>
<html>
    <head>
        <title>hello @quentinbkk i have found ur github :D</title>
        <link href="/static/style.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="textArea">
            <div>
                <h1>Shape AI</h1>
                <h2>I see a <span id="shapeBox">...</span></h2>
                <p>Based on <a href="https://github.com/quentinbkk/shapeAI">ShapeAI</a> by <a href="https://github.com/quentinbkk">@quentinbkk</a> <img id="quentinImg" src="/static/quentin.jpg"></p>
            </div>
        </div>
        <div id="drawingArea">
            <canvas id="canvas" id="canvas", width=64px, height=64px></canvas><br>
            <center><h3 onclick="clear_canvas()">Reset</h3></center>
        </div>
    </body>
    <script src="/static/script.js"></script>
</html>